@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  color: #000000;
  transition: color 0.3s;
}

body.dark {
  background-color: #1a1b1f;
  color: #f2f3f5;
  transition: color 0.3s ease-in;
}

li {
  text-decoration: none;
  cursor: pointer;
  font-family: "poppins";
}

@layer components {
  .label-base {
    @apply font-inter pl-2;
  }
  .input-base {
    @apply border px-10 py-3 rounded-lg outline-light-button focus:shadow-light dark:focus:shadow-dark font-inter text-base font-normal dark:bg-dark-card dark:border-gray-600;
  }

  .action-btn {
    @apply bg-light-button dark:bg-dark-button  text-white  p-2 rounded-lg font-poppins text-sm font-medium cursor-pointer active:bg-light-active dark:active:bg-dark-active duration-300 active:scale-95 transition-all;
  }
}

/* Light Mode (default) */
.rbc-toolbar button {
  background-color: #e5e7eb; /* Tailwind gray-200 */
  color: #000000;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 6px;
  transition: background 0.2s ease;
}

/* Dark Mode override */
.dark .rbc-toolbar button {
  background-color: #1f2937; /* Tailwind gray-800 */
  color: white;
}

.dark .rbc-toolbar button:hover {
  background-color: #374151; /* Tailwind gray-700 */
}
.rbc-month-row {
  min-height: 150px;
}